@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  margin-top: 12px;
}

.games,
.crafts {
  max-width: 300px;
}

.flex {
  display: flex;
}

.section-container {
  flex-direction: column;
  padding: 5%;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

nav {
  height: 100px;
  width: 100%;
  background-color: rgb(220, 187, 187);
}

nav > div {
  padding: 10px 10px;
  margin: 20px;
}

nav img {
  height: 30px;
}

#cartMain {
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  background-color: green;
  border-radius: 5%;
}

header {
  height: 500px;
  width: 100%;
  background-image: url("./assets/kw-background.png");
  background-size: 100% 100%;
  color: white;
}

.header-text {
  flex-direction: column;
  max-height: 100%;
  max-width: 20%;
  padding: 4% 5%;
}

header h1 {
  font-size: 7vh;
}

header h5 {
  font-size: 23px;
  margin-top: 20px;
}

.section {
  margin: 4% 0%;
}

.button {
  cursor: pointer;
  background-color: #6095ff;
  color: white;
  padding: 7px;
  border-radius: 4px;
}

.buy img {
  width: 20px;
  padding-left: 5px;
}

.buy {
  margin-top: 15px;
}

footer {
  background-color: black;
  background-size: 100% 100%;
  color: white;
  padding: 0% 5%;
}

footer img {
  height: 120px;
  width: 100px;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#details {
  flex-direction: column;
  text-align: right;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h4 {
  color: grey;
  font-weight: lighter;
}

h6 {
  font-size: 17px;
}

.buy p {
  font-weight: bold;
  font-size: 20px;
}

h3,
h2 {
  margin-bottom: 10px;
}

.green  :hover {
  background-color: green;
}

.rate :hover {
  background-color: white;
}

.container {
  flex-wrap: wrap;
}

.products {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.picCrop {
  height: 300px;
  width: 300px;
  border: gray 1px solid;
  border-radius: 2%;
}

.textCenter {
  text-align: center;
}

input {
  height: 20px;
  width: 140px;
}

.inputflex {
  display: flex;
  justify-content: space-between;
}

.space-between {
  align-items: center;
  justify-content: space-between;
}

.categories {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;;
}

#fFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  header {
    height: 200px;
    font-size: 15px;
    text-align: start;
  }

  header h1 {
    font-size: 4vh;
  }

  header h5 {
    font-size: 15px;
  }

  .header-text {
    padding: 0% 60% 5% 5%;
  }

  body {
    text-align: center;
  }

  .container {
    justify-content: center;
  }
}
