body {
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 28px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cart {
  height: 28px;
  width: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#addtocart {
  display: flex;
}

#cartitems {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  padding-top: 16px;
  padding-right: 80px;
}

#uibg {
  margin-top: 100px;
  background-image: url(https://stackblitz.com/files/web-platform-gaxfvm/github/Kalvium-Program/kidz-world-html-boilerplate/main/assets/kw-background.png);
  background-repeat: no-repeat;
  height: 445px;
  background-size: 100% 88%;
  margin: 0%;
  padding-top: 75px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  padding-left: 80px;
  font-size: 55px;
  margin: 0%;
  padding-top: 15px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 80px;
  font-size: 20px;
}

.item {
  border-radius: 7px;
  padding: 10px 10px 20px 10px;
  background-color: white;
  margin: 0;
}

#flex-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middletext {
  padding-left: 60px;
  margin: 0;
}

.product {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(141, 141, 141);
  margin: 0;
  padding-top: 12px;
}

.price {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

button {
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgb(69, 149, 253);
  background-color: rgb(69, 149, 253);
  margin: 0;
  margin-top: 10px;
}

.add {
  color: white;
  font-size: 13.5px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  display: flex;
  max-height: 300px;
  background-color: black;
  background-size: 100% 100%;
  color: white;
  padding: 0% 5%;
  justify-content: space-between;
  margin-top: 170px;
  padding-bottom: 30px;
}

footer img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#details {
  flex-direction: column;
  text-align: right;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  #uibg {
    height: 240px;
    font-size: 18px;
    text-align: start;
  }

  h1 {
    font-size: 3vh;
    text-align: start;
    margin: 0;
    padding-left: 10px;
  }

  h3 {
    font-size: 16px;
    text-align: start;
    padding-left: 10px;
  }

  body {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }

  h4 {
    text-align: end;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 33px;
    text-align: start;
  }

  #flex-container1,
  #flex-container2,
  #flex-container3 {
    justify-content: center;
  }

  #logo {
    padding-top: 10px;
    padding-left: 20px;
  }

  #cartitems {
    padding-right: 20px;
    font-size: 16px;
  }

  .price {
    padding-top: 15px;
  }
}
